@import "src/n1-main/m1-ui/common/styles/variables";
@import "src/n1-main/m1-ui/common/styles/mixins";

.learnPageContainer {
  background-color: $GreyGreenBackground;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  justify-content: space-evenly;

  .questionBlock {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h4{
      @include h4Style();
      margin-top: 0px;
      text-align: center;
    }

    .buttonsBlock {
      display: flex;
      justify-content: space-around;

      .cancelBtn {
        @include BtnStyle(124px, 36px, $lightTextColor, $brightGreenColor);
      }

      .saveBtn {
        @include BtnStyle(124px, 36px, $mediumGreenColor, $lightTextColor);
      }
    }
  }
  .answerBlock{
    width: 80%;
    height: 390px;
    h4{
      @include h4Style();

    }
    .answer{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 15px;
      h4{
        @include h4Style();
        margin-bottom: 0;
      }
    }
    .buttonsBlock{
      display: flex;
      justify-content: space-between;

      .cancelBtn {
        @include BtnStyle(124px, 36px, $lightTextColor, $brightGreenColor);
      }

      .saveBtn {
        @include BtnStyle(124px, 36px, $mediumGreenColor, $lightTextColor);
      }
    }
  }
}