.deleteBtn {
    background: #F1453D;
    border-radius: 2px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 5px 6px 4px;
}

.primaryBtn {
    color: #465511;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    padding: 5px 6px 4px;
}