.headerContainer {
    font-size: 25px;
    background-color: #EFF6D5;
    width: 100%;
    margin: 0 auto;
    height: 60px;
}

.navBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navBlock div {
    flex-basis: 173px;
    height: 100%;
}

.navBlock a {
    color: rgba(53, 62, 14, 0.4);
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;

}
.navBlock a img {
    margin-right: 10px;
}

.navBlock a.active {
    background-color: #E7F2C0;
    border-bottom: 3px solid #9EBB2A;
    box-sizing: border-box;
    color: rgb(53, 62, 14);
}
