@import "../../common/styles/_mixins"
@import "../../common/styles/_variables"

.wrapper
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  button
    &:first-child
      @include smallBtnStyle(#FFFFFF, #F1453D)
      margin-right: 3px
    &:nth-child(2), &:nth-child(3)
      @include smallBtnStyle($darkTextColor, $primaryBtnColor)
    &:nth-child(2)
      margin-right: 3px