@import "src/n1-main/m1-ui/common/styles/variables";
@import "src/n1-main/m1-ui/common/styles/mixins";

.profileContainer {
  margin: 24px auto 0;
  max-width: 1008px;
  min-height: 720px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;

  @media screen and (max-width: 1050px) {
    margin: 24px 20px 0;
  }

  .profileBlock {
    max-width: 243px;
    width: 100%;
    min-height: 636px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background: $lightTextColor;

    .profileInfo {
      width: 100%;
      height: 216px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      background-color: #E7F2C0;
      border-radius: 8px 0 8px 8px;
      padding: 24px 0 16px;

      .description {
        @include lightTextStyle()
      }

      img {
        height: 96px;
        width: 96px;
        border-radius: 50%;
      }

      h4 {
        @include h4Style();
        margin: 0;
      }

      .buttonBlock {
        display: flex;
        max-width: 60%;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 615px){
          flex-direction: column;
          min-height: 55px;
          align-items: center;
        }

        .editBtn {
          color: #465511;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 14px;
          padding: 5px 6px 4px;
          background: transparent;
          border: 1px solid $mediumGreenColor;
          box-sizing: border-box;
          border-radius: 2px;
          margin-right: 10px;

          &:hover {
            cursor: pointer;
            background-color: $lightTextColor;
          }
        }

        .logoutBtn {
          background: #e33e37;
          border-radius: 2px;
          border: none;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 14px;
          color: #FFFFFF;
          padding: 5px 6px 4px;

          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }
    }

    .cardsFilter {
      height: 420px;
      width: 100%;
      background: $lightTextColor;
      border-radius: 0 0 0 8px;
      display: flex;
      flex-direction: column;
      align-items: center;


      h3 {
        @include h3Style();
        margin-bottom: 50px;
      }

      .range {
        width: 200px;
      }
    }
  }

  .packsBlock {
    max-width: 765px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      @include h3Style();
    }

    .searchBlock {
      max-width: 668px;
      width: 96%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 910px) {
        flex-direction: column;
      }

      .search {
        max-width: 461px;
        width: 100%;

        @media screen and (max-width: 910px) {
          max-width: 90%;
          margin-bottom: 15px;
        }
      }

      button {
        @include BtnStyle(90px, 36px, $mediumGreenColor, $lightTextColor);
      }
    }
  }
}